xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (nome, descricao, ingredientes*, calorias, tempo, preco)>
<!ATTLIST prato id CDATA #REQUIRED>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ATTLIST ingrediente numero CDATA #REQUIRED>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda CDATA #REQUIRED>
<!ENTITY reais "R$">
